<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- material icon-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+outlined" 
      rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="icon" type="image/x-icon" href="/img/default.png">
</head>
<body>
    <div class="container">
        <aside>
            <div class= "top">
                <a href="https://www.toluthedev.tech/">
                    <div class="logo">
                        <img src="/img/toluthedevtrans.png">
                        <h2>Tolu<span class="danger">the</span>dev</h2>
                    </div>
                </a>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">

                <a href="#">
                    <span class="material-symbols-outlined">
                            dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                            account_box
                    </span>
                    <h3>Users</h3>
                </a>
                <!-- make this collapsible-->
                <a href="#">
                    <span class="material-symbols-outlined">
                        receipt_long
                    </span>
                    <h3>Orders</h3>
                    <span id="orders"></span>
                </a>
                <!--collapsible section-->
                
                <!--end the collapse here-->
                <a href="#">
                    <span class="material-symbols-outlined">
                        monitoring
                    </span>
                    <h3>Analysis</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                    <h3>Messages</h3>
                    <span class="message-count" id="message-count"></span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>
                    <h3>Inventory</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        production_quantity_limits
                    </span>
                    <h3>Product errors and reports</h3>
                    <span class="product-error"></span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        support_agent
                    </span>
                    <h3>Customer Care Response</h3>
                    <span class="customer-care-response"></span>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        add_business
                    </span>
                    <h3>Update Store</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
    </div>
    
</body>
<script src="/js/index.js"></script>
</html>